[Unit]
Description={{ service_description | default(timer_name) }}
{% if service_wants -%}
Wants={{ service_wants }}
{% endif -%}

[Service]
User={{ service_user }}
ExecStart={{ service_exec_start }}
